<div class="list-group">
    <a href="#js" class="list-group-item active radiusNone">JavaScript</a>
    <a href="#object" class="list-group-item"> Object</a>
    <a href="#" class="list-group-item"> This</a>
    <a href="#" class="list-group-item"> Prototype</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item">Dummy text</a>
    <a href="#" class="list-group-item radiusNone">Dummy text</a>
</div>

